<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700588667893-v8j5j0kvsq4qgee2d6q055psge8urasn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700588667893-v8j5j0kvsq4qgee2d6q055psge8urasn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>700588667893-jvjced214f11ksnpunb7skqp1rl4jotk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJj7Apa6-K1JAVQ-OVKTC5fhUff-iAMNM</string>
	<key>GCM_SENDER_ID</key>
	<string>700588667893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learn.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>bclandloan</string>
	<key>STORAGE_BUCKET</key>
	<string>bclandloan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700588667893:ios:4620f32f9353ed843926bc</string>
</dict>
</plist>